anthropic==0.75.0
fastapi==0.119.1
fuzzywuzzy==0.18.0
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-oauthlib==1.2.2
mcp==1.18.0
numpy==2.3.4
openai==1.109.1
openpyxl==3.1.5
pandas==2.3.2
pdfplumber==0.11.7
Pillow==11.3.0
pydantic==2.12.3
python-dotenv==1.1.1
requests==2.32.5
requests-oauthlib==2.0.0
starlette==0.48.0
streamlit==1.50.0
streamlit-extras==0.7.8
streamlit-option-menu==0.4.0
tqdm==4.67.1
uvicorn==0.38.0